*{
    color: rgba(255, 255, 255, 0.85);
    color: rgba(200, 200, 200, 0.7);
    color: rgba(80, 80, 80, 0.5);
    
    color: rgba(255, 200, 200, 0.85);
    color: rgba(200, 150, 150, 0.7);
    color: rgba(150, 50, 50, 0.5);

    color: rgba(200, 200, 255, 0.85);
    color: rgba(150, 150, 200, 0.7);
    color: rgba(70, 70, 170, 0.5);

    color: rgba(200, 255, 200, 0.85);
    color: rgba(150, 200, 150, 0.7);
    color: rgba(70, 170, 70, 0.5);

    color: rgba(180, 235, 255, 0.85);
    color: rgba(140, 190, 205, 0.7);
    color: rgba(40, 125, 140, 0.5);

    color: rgba(235, 255, 180, 0.85);
    color: rgba(190, 205, 140, 0.7);
    color: rgba(125, 140, 40, 0.5);

    color: rgba(255, 235, 180, 0.85);
    color: rgba(205, 190, 140, 0.7);
    color: rgba(140, 125, 40, 0.5);

    color: rgba(235, 155, 235, 0.85);
    color: rgba(200, 130, 200, 0.75);
    color: rgba(130, 80, 130, 0.5);

    color: rgba(205, 245, 245, 0.85);
    color: rgba(130, 190, 210, 0.75);
    color: rgba(40, 135, 145, 0.5);

    color: rgba(255, 70, 235, 0.85);
    color: rgba(200, 100, 180, 0.75);
    color: rgba(140, 40, 165, 0.5);

    color: rgba(235, 255, 70, 1);
    color: rgba(180, 200, 100, 0.75);
    color: rgba(140, 165, 45, 0.5);

    color: rgba(255, 235, 70, 1);
    color: rgba(200, 180, 100, 0.75);
    color: rgba(165, 140, 40, 0.5);

    color: rgba(215, 255, 170, 1);
    color: rgba(180, 220, 150, 0.75);
    color: rgba(120, 135, 85, 0.5);

    color: rgba(225, 255, 225, 1);
    color: rgba(175, 175, 175, 0.75);
    color: rgba(120, 120, 120, 0.5);

    color: rgba(234, 123, 188, 1);
    color: rgba(230, 120, 170, 0.75);
    color: rgba(160, 100, 125, 0.5);
}

